#friends-display-link {
  display: block;
  text-align: center;
  padding: 15px 0px;
  background-color: var(--background-color-grey);
  font-size: 18px;
  margin: 10px 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
