.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  position: fixed;
  top: 22px;
  background-color: inherit;
  z-index: 1;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__title {
  font-size: 26px;
  font-weight: 600;
}
.alt-header__column:last-child {
  margin-left: auto;
  text-align: end;
}

.alt-header__column:last-child span {
  margin-left: 20px;
}
